# HwBinder IPC from client to server, and callbacks
binder_call(vendor_hal_hisi_gnss_client, vendor_hal_hisi_gnss_server)
binder_call(vendor_hal_hisi_gnss_server, vendor_hal_hisi_gnss_client)
