# HwBinder IPC from client to server, and callbacks
binder_call(vendor_hal_hisi_vibrator_client, vendor_hal_hisi_vibrator_server)
binder_call(vendor_hal_hisi_vibrator_server, vendor_hal_hisi_vibrator_client)
