# HwBinder IPC from client to server, and callbacks
binder_call(vendor_hal_hisi_sensors_client, vendor_hal_hisi_sensors_server)
binder_call(vendor_hal_hisi_sensors_server, vendor_hal_hisi_sensors_client)
